@function toRem($pixel) {
   @return #{$pixel / 16}rem;
}

$color-background: #2b2726;
$color-primary: #0a516d;
$color-accent: #bacca4;
$color-text: #7dad93;

%label-font-size {
   font-size: toRem(24);
}

%icon-dimensions {
   width: toRem(24);
   height: toRem(24);
   color: $color-accent;
}

%buttons {
   background-color: transparent;
   border: none;
   padding: 0;
}

body {
   font-family: Roboto, sans-serif;
   color: $color-text;
   background-color: $color-background;
}

svg {
   width: inherit;
   height: inherit;
}

.app-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

.pomodoro-timer {
   border: 4px solid $color-accent;
   border-radius: 2px;
   width: toRem(448);
   padding: toRem(24);
   background-color: $color-primary;
}

.title {
   height: toRem(40);
   text-align: center;
   font-size: toRem(34);
}

.labels-wrapper {
   @extend %label-font-size;

   height: toRem(64);
   margin-top: toRem(40);
   display: flex;
   justify-content: space-between;
}

.label__title {
   @extend %label-font-size;
}

.label__controls {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: toRem(8);
   height: auto;

   &__value {
      margin: 0 toRem(16);
      font-size: toRem(32);
   }
}

.label__controls__arrow {
   @extend %icon-dimensions;
   @extend %buttons;
}

.timer-wrapper {
   margin-top: toRem(40);
   display: grid;
   grid-template-columns: 1fr;
}

.timer__progress-bar {
   grid-column: 1;
   grid-row: 1;
}

.timer__info-wrapper {
   min-width: toRem(225);
   grid-column: 1;
   grid-row: 1;
   justify-self: center;
   align-self: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: toRem(32);
}

.timer__countdown {
   font-family: Orbitron, sans-serif;
   font-size: toRem(64);
   margin: toRem(24) 0;
}

.controls-wrapper {
   width: 50%;
   display: flex;
   justify-content: space-between;
}

.controls__play-pause {
   @extend %icon-dimensions;
   @extend %buttons;
}

.controls__reset {
   @extend %icon-dimensions;
   @extend %buttons;
}
